<template name="AppNav">
	<nav class="app-nav">
		<ul>
			<li>
				<a href="/resources"><i class="fa fa-map-o"></i>Resources</a>
			</li>
			<li>
				<a href="/discover"><i class="fa fa-compass"></i> Discover</a>
			</li>
			<li>
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                  <i class="fa fa-plus"></i>
                </button>
			</li>
			<li>
				<a href="/messages"><i class="fa fa-envelope-o"></i>Messages</a>
			</li>
			<li>
				<a href="/favorites"><i class="fa fa-user"></i>User</a>
			</li>
		</ul>
	</nav>
</template>